{% extends "layout.html" %}

{% block content %}
<div class='bg-gray-200 dark:bg-gray-800 text-black dark:text-gray-100  p-5 md:pt-8 md:pb-14 md:px-20 lg:px-40 xl:px-60'>        
    <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About Me</p>
    <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05); position: relative;" class='bg-red-950 dark:bg-gray-900 py-5 pl-6 pr-4 rounded-lg'>
        <!-- Rounded Gradient Border -->
        <div style="position: absolute; top: 0; left: 0; bottom: 0; width: 6px; border-radius: 6px 0 0 6px; 
            background: linear-gradient(to bottom, #72bdff, #ff72bd);" 
            class="dark:hidden">
        </div>

        <div style="position: absolute; top: 0; left: 0; bottom: 0; width: 6px; border-radius: 6px 0 0 6px; 
            background: linear-gradient(to bottom, #ffbd72, #fcf6a1);" 
            class="hidden dark:block">
        </div>
        <!-- Content -->
        <p style="font-family: Poppins" class="text-white dark:text-gray-300">
            Hi, I’m Jamis. I’m passionate about software development, with a particular love for creating computer games that entertain, inspire, and bring joy to others.<br><br>
            My journey into development has been shaped by curiosity, a self-taught mindset, and an unrelenting attention to detail. While life has thrown challenges my way, including a pivotal moment with Cancer, it also set me on the path to pursuing my dream of building games and software that make a difference.<br><br>
            I’ve always been fascinated by the power of technology—whether it’s AI, cutting-edge trends, or immersive gaming experiences—and I strive to stay at the forefront of the field. I’m currently focused on building games of small to medium scope, honing my skills, and collaborating with a talented animator friend to bring our dream game to life.<br><br>
            Ultimately, my goal is to create something that not only reflects my passion but also resonates with people around the world. I believe in the ability of games to tell stories, spark creativity, and connect communities—and I’m excited to contribute to that legacy.
        </p>
    </div>             
</div>
{% endblock %}
