{% extends "layout.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class='hero-section bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100 text-center flex flex-col justify-center items-center h-[550px] md:h-[580px] lg:h-[600px] '>   
        
        <!-- Hello Text -->
        <div class="font-mono py-2 text-gray-900 dark:text-gray-100">
            Hello, I am Jamis
        </div>  
    
        <!-- Full Stack Developer Text -->
        <div style="font-family: Poppins-Bold" class='mt-4 z-40 text-3xl font-extrabold md:text-4xl lg:text-5xl px-[20px] md:px-[140px] lg:px-[170px] xl:px-[200px] 2xl:px-[360px]'>
            I'm a <span class='bg-clip-text bg-gradient-to-r from-cyan-300 to-blue-400 text-transparent'>Full Stack</span> developer.
        </div>
    
        <!-- Portfolio Description -->
        <div style="font-family: Poppins-Bold" class='mt-4 z-40 text-3xl font-extrabold md:text-4xl lg:text-5xl px-[20px] md:px-[140px] lg:px-[170px] xl:px-[200px] 2xl:px-[360px]'>
            This is my Portfolio.
        </div>

        {% comment %} <div class='absolute -ml-64 -mt-80 h-60 w-60 bg-gradient-to-r from-cyan-300 to-blue-400 rounded-full blur-2xl opacity-10 md:opacity-10 md:-ml-[800px] md:-mt-[200px] md:h-[400px] md:w-[400px] lg:-ml-[1000px] lg:-mt-[200px] xl:-ml-[1400px] xl:-mt-[500px]'></div>
        <div class='absolute -mr-20 mt-20 h-60 w-60 bg-gradient-to-r from-blue-400 to-purple-500 rounded-full blur-2xl opacity-20 md:-mr-60 md:h-72 md:w-72 lg:-mr-64 lg:h- 96 lg:w-96 lg:opacity-10'></div> {% endcomment %}
        {% comment %} <span class='text-sm text-center pt-2 pb-2 p-6'>I am a UI/UX designer, graphic designer, and web developer, with a passion for crafting visually appealing and user-friendly digital experiences. With my unique combination of skills, I strive to create digital products that are both beautiful and easy to use.</span> {% endcomment %}
        <div class='updn hero-img my-4'>
            <div class="flex justify-center">
                <!-- Light theme image -->
                <img src="/media/computer-black.svg" alt="Computer for light theme" class="block dark:hidden  h-auto w-52 md:w-56 lg:w-60 xl:w-64">
                <!-- Dark theme image -->
                <img src="/media/computer-white.svg" alt="Computer for dark theme" class="hidden dark:block h-auto w-52 md:w-56 lg:w-60 xl:w-64">
            </div>    
        </div>
        {% comment %} <span class='text-sm text-center pt-2 pb-2 p-6'>I am a UI/UX designer, graphic designer, and web developer, with a passion for crafting visually appealing and user-friendly digital experiences. With my unique combination of skills, I strive to create digital products that are both beautiful and easy to use.</span>{% endcomment %}
        <div class='hero-btn my-3 md:mt-2 font-bold text-sm md:text-[16px] md:leading-6'>
            <ul class='flex flex-row gap-4 md:space-x-2'>
                <a href='https://cdn.jsdelivr.net/gh/hostmind/host/static/Ashish-Resume.pdf' download><div class='relative group'>
                    <div class='bg-gradient-to-r from-cyan-300 to-blue-600 px-6 py-2 text-white rounded-md -inset-0.5 absolute blur-sm opacity-75 group-hover:-inset-1 transition group-hover:duration-400 group-hover:opacity-90 duration-1000'></div>
                    <button class='relative bg-gray-800 px-7 py-2 text-white rounded-md group-hover:text-gray-50 transition duration-200'><i class="bi bi-download font-extrabold"></i> Download CV</button>
                </div></a>
                <a href='/about'><div class='relative group'>
                    <div class='bg-gradient-to-r from-cyan-300 to-blue-600 px-6 py-2 text-white rounded-md -inset-0.5 absolute blur-sm opacity-75 group-hover:-inset-1 transition group-hover:duration-400 group-hover:opacity-90 duration-1000'></div>
                    <button class='relative bg-gray-800 px-7 py-2 text-white rounded-md group-hover:text-gray-50 transition duration-200'><i class="bi bi-person"></i> About me</button>
                </div></a>
                {% comment %} <a class='dl-cv bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out' href=''><i class="bi bi-download font-extrabold"></i> Download CV</a>
                <a class='dl-cv bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out' href=''><i class="bi bi-chat-square font-extrabold"></i> Contact</a> {% endcomment %}
            </ul>
        </div>
        {% comment %} <div class='hero-socials text-xl bg-slate-600 rounded-full p-1 px-28'>
            <ul class='flex flex-row gap-2'>
                <li><a href='/' class='hover:text-blue-100'><i class="bi bi-youtube"></i></a></li>
                <li><a href='/' class='hover:text-blue-100'><i class="bi bi-discord"></i></a></li>
                <li><a href='/' class='hover:text-blue-100'><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div> {% endcomment %}
    </div>


{% endblock %}
